/ClassLibrary1/obj
/.vs/PipeRotate/v15/.suo
/.vs/PipeRotate/v15/Server/sqlite3/db.lock
/.vs/PipeRotate/v15/Server/sqlite3/storage.ide
/.vs/PipeRotate/v15/Server/sqlite3/storage.ide-shm
/.vs/PipeRotate/v15/Server/sqlite3/storage.ide-wal
/ClassLibrary1/bin/x64/Release/ClassLibrary1.dll
/ClassLibrary1/bin/x64/Release/ClassLibrary1.pdb
